<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ubah ide menjadi karya nyata dengan kolaborasi membangun portfolio bersama." />
    <meta property="og:site_name" content="Mulaidev">
    <meta property="og:title" content="Mulaidev Initiative">
    <meta property="og:url" content="https://mulai.dev">
    <meta property="og:image" content="https://mulai.dev/user-collaboration.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/logo.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/logo.png">
    <title>Mulai upgrade skill menulis, video editing dan koding</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>
</head>

<body class="text-blue-500">
    <div class="flex justify-between lg:fixed w-full lg:z-10">
        <img class="mx-5" height="80" width="80" src="/logo.png" alt="Mulaidev">
        <a class="m-5 p-3 px-12 uppercase bg-blue-500 hover:bg-blue-200 text-white hover:text-blue-500 rounded-full font-bold shadow"
            href="#register">Register</a>
    </div>
    <div style="background-image: url(https://images.unsplash.com/photo-1568658176307-bfbd2873abda?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1360&h=800&q=80);"
        class="md:h-screen bg-cover text-center text-white">
        <div class="grid place-items-center h-full w-full px-12 py-32 bg-blue-900 bg-opacity-50">
            <h1 class="text-3xl lg:text-7xl mb-12 uppercase font-black tracking-widest">Mulai berkarya bersama</h1>
            <p class="text-base tracking-wide">Ubah ide menjadi karya nyata dengan kolaborasi<br>membangun portfolio
                bersama.</p>
        </div>
    </div>
    <div
        class="grid place-items-center grid-cols-1 md:grid-cols-4 md:gap-5 p-5 md:p-20 m-auto text-center -mt-12 md:-mt-48">
        <a href="#"
            class="max-w-sm rounded-3xl overflow-hidden bg-gradient-to-b from-blue-200 via-red-100 to-white transition duration-1000 ease-in-out transform hover:-translate-y-1 hover:scale-110 pb-20">
            <img height="300" width="500"
                src="https://source.unsplash.com/j9JoYpaJH3A/500x300"
                alt="">
            <h2 class="text-xl font-black p-8 pb-0 uppercase">From Reading to Writing</h2>
            <p class="p-8">Asah kemampuan menulis untuk menyampaikan gagasan di era informasi sehingga mampu menggugah
                pembaca untuk berpikir dan beraksi!</p>
            <p class="p-8"><img class="m-auto" src="/dinda.png" alt="Foto" height="150" width="150"><br><strong>M. Dinda
                    Nurrochman</strong><br>Writer</p>
        </a>
        <a href="#"
            class="max-w-sm rounded-3xl overflow-hidden bg-gradient-to-b from-blue-200 via-green-100 to-white transition duration-1000 ease-in-out transform hover:-translate-y-1 hover:scale-110 pb-20">
            <img height="300" width="500"
                src="https://source.unsplash.com/ENUTLSZGVhY/500x300"
                alt="">
            <h2 class="text-xl font-black p-8 pb-0 uppercase">Content Creation in Video+Graphic</h2>
            <p class="p-8">Mengemas informasi melalui efek visual dan grafis untuk kebutuhan promosi di media sosial
                agar lebih memukau.</p>
            <p class="p-8"><img class="m-auto" src="/arif.png" alt="Foto" height="150" width="150"><br><strong>Arif
                    Anas</strong><br>Designer</p>
        </a>
        <a href="#"
            class="max-w-sm rounded-3xl overflow-hidden bg-gradient-to-b from-blue-200 via-yellow-100 to-white transition duration-1000 ease-in-out transform hover:-translate-y-1 hover:scale-110 pb-20">
            <img height="300" width="500"
                src="https://source.unsplash.com/BR6lrzCPYPk/500x300"
                alt="">
            <h2 class="text-xl font-black p-8 pb-0 uppercase">Web Vital</h2>
            <p class="p-8">Membangun website dengan skor Page Speed tinggi dari awal dengan menerapkan strategi terkini sesuai standar resmi.</p>
            <p class="p-8"><img class="m-auto" src="/rio.png" alt="Foto" height="150" width="150"><br><strong>Rio
                    Purnomo</strong><br>Fullstack Engineer</p>
        </a>
        <a href="#"
            class="max-w-sm rounded-3xl overflow-hidden bg-gradient-to-b from-blue-200 via-green-100 to-white transition duration-1000 ease-in-out transform hover:-translate-y-1 hover:scale-110 pb-20">
            <img height="300" width="500"
                src="https://source.unsplash.com/W3Jl3jREpDY/500x300"
                alt="">
            <h2 class="text-xl font-black p-8 pb-0 uppercase">English Conversation and TOEFL Preparation</h2>
            <p class="p-8">Latih kemampuan berbicaramu biar lebih pede ngobrol dengan orang asing dan tingkatkan skor TOEFL bersama mentor yang sudah berpengalaman.</p>
            <p class="p-8"><img class="m-auto rounded-full bg-gradient-to-b from-indigo-100 via-purple-100 to-pink-200" src="https://raw.githubusercontent.com/cuderio/cude.me/master/cude.png" alt="Foto" height="150" width="150"><br><strong>Cude</strong><br>Influencer</p>
        </a>
    </div>
    <div class="container mx-auto md:px-5">
        <div
            class="bg-gradient-to-r from-blue-500 via-purple-500 to-blue-300 text-white -my-2 md:my-24 md:p-12 py-3 md:py-24 shadow-xl rounded-xl text-center relative">
            <div class="text-center">
                <h2 class="text-center text-xl uppercase font-black mt-12">Kompetensi adaptif<br>untuk menghadapi jaman
                    disruptif</h2>
                <br>
            </div>
            <div class="lg:flex justify-center">
                <p class="bg-white bg-opacity-25 p-12 m-5 rounded-xl"><strong>Individual
                        Level</strong><br><br>Komunikasi Intrapersonal<br> Integritas<br>Manajemen Stres<br>Berpikir
                    Kreatif<br>Empati</p>
                <p class="bg-white bg-opacity-25 p-12 m-5 rounded-xl"><strong>Teamship
                        Level</strong><br><br>Kerjasama<br>Kolaborasi<br>Resolusi Konflik<br>Teknik Menjual</p>
                <p class="bg-white bg-opacity-25 p-12 m-5 rounded-xl"><strong>Organization
                        Level</strong><br><br>Kepemimpinan<br>Komitmen Organisasi<br>Kewirausahaan<br>Menetapkan
                    Tujuan Hidup</p>
            </div>
        </div>
    </div>
    <div id="register" class="bg-gradient-to-r from-purple-200 via-blue-100 to-gray-100">
        <div class="container mx-auto py-12 md:py-24 px-8">
            <div class="grid place-items-center">
                <h2 class="text-center text-xl uppercase font-black mb-6">Register</h2>
                <script async data-uid="d4f88ea478" src="https://mulai.ck.page/d4f88ea478/index.js"></script>
            </div>
        </div>
    </div>
    <div class="overflow-hidden hidden md:block">
        <div id="youtube" class="-mt-64 relative -bottom-44"></div>
    </div>
    <div id="font"></div>
    <script>
        window.onscroll = function () {
            if (document.documentElement.scrollTop > 500) {
                // iframe
                var youtube = '<iframe class="w-full md:h-screen" id="ytplayer" type="text/html" width="1920" height="1080" src="https://www.youtube.com/embed/izBVXTMcEH0?controls=0&listType=playlist&list=PLzxpCdIZWLmyQSBdUVJhFwzqrZE0WRDMi&disablekb=1&fs=0&modestbranding=1&playsinline=1&start=5" frameborder="0" allowfullscreen><\/iframe>';
                var yt = document.getElementById("youtube");
                yt.innerHTML = youtube;
                // font
                var fontInter = '<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;900&display=swap" rel="stylesheet">';
                var fnt = document.getElementById("font");
                fnt.innerHTML = fontInter;
                document.body.className += " font-body";
            }
        }
    </script>
</body>

</html>
