---

const Css = Astro.site + "style.css";

---
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Ubah ide menjadi karya nyata dengan kolaborasi membangun portfolio bersama." />
    <meta property="og:site_name" content="Mulaidev">
    <meta property="og:title" content="Mulaidev Initiative">
    <meta property="og:url" content="https://mulai.dev">
    <meta property="og:image" content="https://mulai.dev/user-collaboration.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/logo.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/logo.png">
    <title>Mulai membangun karya portfolio bersama copywriter, desainer dan programmer</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={Css}>
</head>

<body class="font-body text-blue-500">
    <div class="flex justify-between">
        <img class="mx-5" height="80" width="80" src="/logo.png" alt="Mulaidev">
        <a class="m-5 p-5 uppercase" href="https://forms.formium.io/f/608b70ac0304f100014f8570">Register</a>
    </div>
    <div class="bg-gradient-to-l from-blue-600 via-blue-800 to-blue-700  text-center text-white p-12 pb-24">
        <h1 class="text-xl mb-12 uppercase font-black">Mulai berkarya bersama</h1>
        <p class="text-base">Ubah ide menjadi karya nyata dengan kolaborasi<br>membangun portfolio bersama.</p>
    </div>
    <div class="container mx-auto -mt-12 px-5 mb-40">
        <div class="bg-gradient-to-r from-blue-500 via-blue-500 to-blue-300 text-white p-12 shadow-xl rounded-xl">
            <h2 class="text-center text-xl mb-12 uppercase font-black">Jenjang karir yang akan difokuskan</h2>
            <div class="flex justify-between">
                <p><strong>Copywriting</strong><br>Mengubah keinginan klien sesuai kebutuhan konsumen ke dalam bentuk
                    tampilan dan interaksi yang memudahkan pengguna</p>
                <p><strong>Fullstack Designer</strong><br>Mengubah keinginan klien sesuai kebutuhan konsumen ke dalam
                    bentuk tampilan dan interaksi yang memudahkan pengguna dan mengubah bahasa desain menjadi bahasa
                    pemrograman dan mengintegrasikannya menjadi tampilan yang responsif.</p>
                <p><strong>Digital Marketing</strong><br>Membangun kebutuhan terhadap produk sehingga pelanggan loyal
                    dengan keilmuan psikologi.</p>
            </div>
        </div>
        <h2 class="text-center text-xl uppercase font-black my-12">Dipandu para mentor<br>yang mampu
            membangkitkan
            potensi</h2>
        <div class="flex justify-between text-center">
            <p><img src="/dinda.png" alt="Foto" height="150" width="150"><br><strong>Dinda</strong><br>Copywriting</p>
            <p><img src="/arif.png" alt="Foto" height="150" width="150"><br><strong>Arif</strong><br>Video Editing</p>
            <p><img src="/rio.png" alt="Foto" height="150" width="150"><br><strong>Rio</strong><br>Fullstack Design</p>
        </div>
        <div class="bg-gradient-to-r from-blue-500 via-blue-500 to-blue-300 text-white my-24 p-12 shadow-xl rounded-xl">
            <div class="text-center">
                <h2 class="text-center text-xl uppercase font-black mb-12">Kompetensi adaptif<br>untuk menghadapi jaman
                    disruptif</h2>
                <br>
            </div>
            <div class="flex justify-between">
                <p><strong>Individual Level</strong><br>Komunikasi Intrapersonal, Integritas, Manajemen Stres, Berpikir
                    Kreatif, Empati</p>
                <p><strong>Teamship Level</strong><br>Kerjasama, Kolaborasi, Resolusi Konflik, Teknik Menjual</p>
                <p><strong>Organization Level</strong><br>Kepemimpinan, Komitmen Organisasi, Kewirausahaan, Menetapkan
                    Tujuan Hidup</p>
            </div>
        </div>
        <div class="text-center my-12">
            <a class="rounded-full border-2 border-blue-600 py-6 px-12 text-xl uppercase font-black"
                href="https://forms.formium.io/f/608b70ac0304f100014f8570">Mulai
                Berkarya</a>
        </div>
    </div>

</body>

</html>